@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #63e;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Satoshi Variable", system-ui, sans-serif;
  background-color: #000;
  color: #ffffff;
  position: relative;
  min-height: 100lvh;
  overflow-x: hidden;
}

h1 {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-bold);
  text-wrap: balance;
  line-height: 1.2;
}

h2 {
  @apply text-4xl font-bold text-shadow-black/20 text-shadow-md;
}

.background {
  height: 100lvh;
  width: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background: radial-gradient(125% 125% at 50% 10%, #030303 40%, #63e 100%);
  background-size: auto;
  background-repeat: no-repeat;
}

section {
  @apply max-w-4xl mx-auto;
}
