---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/index/Hero";
import Services from "../sections/index/Services";
---

<Layout>
  <main>
    <Hero client:visible />
    <Services client:visible />
  </main>
</Layout>
