---
import Layout from "../layouts/Layout.astro";
import ClientLayout from "../layouts/ClientLayout";
import Hero from "../sections/index/Hero";
---

<Layout>
  <ClientLayout client:load>
    <main>
      <Hero client:visible />
    </main>
  </ClientLayout>
</Layout>
