---
import "../styles/global.css";
import ClientLayout from "./ClientLayout";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta
      name="description"
      content="Implemento sistemas de automatización para pymes: atención 24/7, seguimiento de clientes y procesos digitales que ahorran tiempo y dinero."
    />
    <meta
      name="keywords"
      content="automatización para pymes, chatbots para empresas, automatización de procesos empresariales, desarrollo web para pymes, automatización con inteligencia artificial"
    />
    <title>
      Automatización y Sistemas Digitales para Pymes y Empresas | Daniel Mass
    </title>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://danielmass.dev" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Automatización y Sistemas Digitales para Pymes y Empresas | Daniel Mass"
    />
    <meta
      property="og:description"
      content="Sistemas digitales reales para automatizar atención y procesos e incrementar ventas en pymes y empresas.
"
    />
    <meta property="og:image" content="https://danielmass.dev/og-image.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="danielmass.dev" />
    <meta property="twitter:url" content="https://danielmass.dev" />
    <meta
      name="twitter:title"
      content="Automatización y Sistemas Digitales para Pymes y Empresas | Daniel Mass"
    />
    <meta
      name="twitter:description"
      content="Sistemas digitales reales para automatizar atención y procesos e incrementar ventas en pymes y empresas.
"
    />
    <meta name="twitter:image" content="https://danielmass.dev/og-image.png" />
  </head>
  <body>
    <!-- Slot -->
    <slot />

    <!-- Background -->
    <div class="background"></div>
  </body>
</html>
