---
import "../styles/global.css";
import ClientLayout from "./ClientLayout";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta
      name="description"
      content="Automatización inteligente para pymes en Chile. Optimizo procesos y atención al cliente para ahorrar tiempo, reducir errores y no perder oportunidades de venta."
    />
    <meta
      name="keywords"
      content="automatización para pymes, chatbots para empresas, automatización de procesos empresariales, desarrollo web para pymes, automatización con inteligencia artificial"
    />
    <title>Daniel Mass | Automatización Inteligente para Pymes en Chile</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://danielmass.dev/" />
    <meta
      property="og:title"
      content="Daniel Mass | Automatización Inteligente para Pymes en Chile"
    />
    <meta
      property="og:description"
      content="Automatización de procesos y atención al cliente para pymes. Ahorro de tiempo, menos errores, más oportunidades de venta."
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://danielmass.dev/" />
    <meta
      property="twitter:title"
      content="Daniel Mass | Automatización Inteligente para Pymes en Chile"
    />
    <meta
      property="twitter:description"
      content="Automatización de procesos y atención al cliente para pymes. Ahorro de tiempo, menos errores, más oportunidades de venta."
    />
  </head>
  <body>
    <!-- Slot -->
    <ClientLayout client:load>
      <slot />
    </ClientLayout>
    <!-- Background -->
    <div class="background"></div>
  </body>
</html>
